
.projects-grid {
   grid-column: 1 / span 12;
   display: grid;
   grid-template-columns: 1fr;
   gap:  20px;


}

.project-card {
   display:  grid;
   grid-template-columns: repeat(12, 1fr);
/*   border-top:  1px solid var(--primary);
   border-bottom:  1px solid var(--primary);*/

   /*padding:  10px 0;*/


   
}


.project-card .links {
   grid-column: 2 / span 10;
   grid-row:  3;

   margin:  10px 0;

   display:  flex;
   justify-content: space-between;
}

@media (min-width: 375px) {
   .project-card .links {
      grid-column: 2 / span 8;
   }
}


.links a {
   font-size: 14px;
}


.project-card:before { 
   content: '🌟'; 
   margin: 10px 5px 10px 0;

   grid-column: 1;
} 

.project-card h3, .project-card p.calm-voice {
   grid-column: 2/ span 12;
}

.project-card p.calm-voice {
     grid-column: 2/ span 12;

}

.project-card a:nth-of-type(1) {
   grid-column: 2 / span 6;


}

.project-card a:nth-of-type(2) {
   grid-column: 7 / span 12;
   grid-row:  3;
}


.project-card .link-divider {
   font-weight: 700;
   color:  var(--dark);
}


/*.project-card a:nth-of-type(1):after {
   content:  '/';
   margin:  10px 10px 10px 15px;
   color:  var(--dark);
   font-weight: 700;

   grid-column: 6/ span 7;
}*/









